version: '3.1'

services:

  db:
    image: postgres:14
    restart: always
    volumes:
      - ./db:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: go_db
      POSTGRES_USER: go_db
      POSTGRES_PASSWORD: go_db